{% extends 'base.html' %}
{% block body_content %}
<div class="row justify-content-center align-items-center mt-3">
  <div class="col-xs-6 col-md-6 col-lg-5 col-xl-5 custom-card shadow-sm" style="padding: 2em;">
    <h2 class="text-center">
      Sign Up
    </h2>
    <hr>

    <form method="POST">
      <div class="form-group">
        {% csrf_token %}
        <label for="exampleInputEmail1">Email address <span style="color: red;">*</span></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="user@example.com" name="email" value="{{request.POST.email}}">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

        {% if errors and errors.email %}
        {% for error in errors.email %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password <span style="color: red;">*</span></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        {% if errors and errors.password %}
        {% for error in errors.password %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password <span style="color: red;">*</span></label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
          name="confirm_password">
        {% if errors and errors.confirm_password %}
        {% for error in errors.confirm_password %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-6 mx-auto text-center">
      <button type="submit" class="btn btn-primary btn-block" >Register</button>
      </div>
    </form>
    <p class="text-center mt-3">Already have an account <a href="{% url 'user_auth:user_login' %}">Sign In</a> </p>
    
  </div>
</div>

{% endblock body_content %}